.badge-nav {
  background-color: #fc5b57;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: -15px;
}

.badge {
  background-color: #fc5b57;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}
