.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #26272d;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
}

.nav__notification {
  position: absolute;
  bottom: 30px;
  right: -15px;
}
